{% extends 'base.html' %}

{% block content %}
    <h2>Mon panier</h2>

    <form method="POST" action="{% url 'store:update_quantities' %}">
        {% csrf_token %}
        {{ forms.management_form }}
        {% for form in forms %}
            <div>
                <h3>{{ form.instance.product.name }}</h3>
                <img src="{{ form.instance.product.thumbnail.url }}"
                     alt="Image du produit"
                     style="max-width: 250px;">
                <p>{{ form.instance.product.description }}</p>
                {{ form.as_p }}
            </div>
        {% endfor %}
        <button type="submit">Mettre à jour les quantités</button>
    </form>

    <form action="{% url 'store:stripe_checkout_session' %}" method="POST">
        {% csrf_token %}
        <button type="submit">Payer</button>
    </form>

    <p>
        <a href="{% url 'store:delete_cart' %}">Supprimer le panier</a>
    </p>

{% endblock %}
