<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Ma boutique en ligne</title>
</head>
<body>

    <a href="{% url 'index' %}">
        <h1>Ma petite boutique en ligne</h1>
    </a>
    {% if user.is_authenticated %}
        {{ user.email }}
        <a href="{% url 'accounts:profile' %}">Mon profil</a>
        <a href="{% url 'accounts:logout' %}">Déconnexion</a>
    {% else %}
        <a href="{% url 'accounts:login' %}">
            Se connecter
        </a>
        <a href="{% url 'accounts:signup' %}">
            S'inscrire
        </a>
    {% endif %}

    {% if user.cart and not user.cart.ordered %}
        <p>
            <a href="{% url 'store:cart' %}">Voir mon panier
                ({{ user.cart.nb_products }}
                {% if user.cart.nb_products > 1 %}
                articles{% else %}article{% endif %})
            </a>
        </p>
    {% endif %}

    {% block content %}
    {% endblock %}

</body>
</html>